body{
    background: linear-gradient(white,aquamarine);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 40px;
    background-attachment: fixed;
}

h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}